language: python
sudo: false
cache:
  directories:
    - $HOME/.ccache  # https://github.com/travis-ci/travis-ci/issues/5853
    - $YT_DIR
    - $TRIDENT_ION_DATA
    - $TRIDENT_ANSWER_DATA/test_results
  pip: true

addons:
  apt:
    packages:
      - texlive-latex-extra
      - dvipng

env:
  global:
    YT_DIR=$HOME/yt-git
    TRIDENT_ION_DATA=$HOME/.trident
    TRIDENT_ANSWER_DATA=$HOME/answer_test_data
    TRIDENT_CONFIG=$TRIDENT_ION_DATA/config.tri
    YT_GOLD=3b7ad0cf0e0c4002137100ac22557027d4811273
    YT_HEAD=yt-4.0
    TRIDENT_GOLD=test-standard-sph-viz-v3

before_install:
  - |
    export PATH=/usr/lib/ccache:$PATH
    # configure trident
    mkdir -p $TRIDENT_ION_DATA
    echo "[Trident]" > $TRIDENT_CONFIG
    echo "ion_table_dir = $TRIDENT_ION_DATA" >> $TRIDENT_CONFIG
    echo "ion_table_file = hm2012_lr.h5" >> $TRIDENT_CONFIG
    echo "answer_test_data_dir = $TRIDENT_ANSWER_DATA" >> $TRIDENT_CONFIG

install:
  - |
    # setup environment
    ccache -s
    # Upgrade pip and setuptools and wheel to get clean install
    pip install --upgrade pip
    pip install --upgrade wheel
    pip install --upgrade setuptools
    pip install cython scipy
    # Install dependencies
    # install yt-4.0 branch
    if [ ! -f $YT_DIR/README.md ]; then
        git clone --branch=yt-4.0 https://github.com/yt-project/yt $YT_DIR
    fi
    pushd $YT_DIR
    git checkout $YT_HEAD
    git pull origin $YT_HEAD
    git checkout $YT_GOLD
    pip install -e .
    popd
    # install trident
    pip install -e .[dev]

before_script:
  - |
    # tag the tip so we can get back to it
    git tag tip
    # download config file and ion data
    if [ ! -f $TRIDENT_ION_DATA/hm2012_lr.h5 ]; then
      wget http://trident-project.org/data/ion_table/hm2012_lr.h5.gz
      gunzip hm2012_lr.h5.gz
      mv hm2012_lr.h5 $TRIDENT_ION_DATA
    fi
    # download answer test data
    if [ ! -f $TRIDENT_ANSWER_DATA/enzo_small/AMRCosmology.enzo ]; then
      pushd tests
      export RUN_DOWNLOAD_TEST=1
      travis_wait py.test test_download.py
      popd
    fi
    export RUN_DOWNLOAD_TEST=0
    # install gold standard and generate answers
    # this uses the yt gold standard version
    # answers are cached, so don't generate if they already exist
    if [ ! -f $TRIDENT_ANSWER_DATA/test_results/TRIDENT_VERSION ]; then
        export TRIDENT_GENERATE_TEST_RESULTS=1
        git checkout $TRIDENT_GOLD
        pip install -e .
        pushd tests
        py.test
        popd
    fi

script:
  - |
    # gold-standard yt + trident tip
    export TRIDENT_GENERATE_TEST_RESULTS=0
    git checkout tip
    pip install -e .
    # relevant yt version
    pushd $YT_DIR
    git checkout $YT_VER
    pip install -e .
    popd
    pushd tests
    py.test --cov=trident

jobs:
  include:
    - stage: tests
      name: "tests with Python 3.5 and yt-dev"
      python: 3.5
      env: YT_VER=$YT_HEAD

    - stage: tests
      name: "tests with Python 3.6 and yt-dev"
      python: 3.6
      env: YT_VER=$YT_HEAD
      after_success: coveralls

    - stage: tests
      name: "tests with Python 3.5 and yt stable"
      python: 3.5
      env: YT_VER=$YT_GOLD

    - stage: tests
      name: "tests with Python 3.6 and yt stable"
      python: 3.6
      env: YT_VER=$YT_GOLD

    - stage: docs
      name: "docs build test"
      python: 3.6
      before_script: skip
      install:
        - |
          # setup environment
          ccache -s
          # Upgrade pip and setuptools and wheel to get clean install
          pip install --upgrade pip
          pip install --upgrade wheel
          pip install --upgrade setuptools
          # install trident
          pip install -e .[dev]
      script:
        - |
          # Fake some ion balance data
          touch $TRIDENT_ION_DATA/hm2012_lr.h5
          cd doc/source
          python -m sphinx -M html "." "_build" -W

    - stage: deploy
      name: "deploy to pypi"
      if: tag =~ ^v
      python: 3.6
      before_script: skip
      before_install: skip
      script: skip
      deploy:
        provider: pypi
        distributions: sdist bdist_wheel --universal
        user: chummels
        password:
          secure: g6imz36+qTbzcq3GLvnZPKnnrrYoUbBInR8P2Cwf4zevwWRrQ+Wqlv/Na8JT4ACWArsrMbYY2WUnnmiZaJXLaULPBBJzmYAJQq++RjikEGSRGOISuA8esSx4Fy5SuySWO0FKqJorQh6VJcyIs6I33ZiFrOM9clq8MoHZTVvlbgIqWUnWZZfvOIOJs9K7REKr/UIYdSnRULFkBzFcs8iZEPcnARKeTzA1X7O07asnHC3o4zApZkDq+a3lH8+uuPuCdyZlPN2bVaEbhyqyB82NmAXNY4Exboh7c4xqyk2Rwz4ZtWLOe+SpGSynz0ULA7UfdJrtJ20/7htBKNd9yh20vfh3sQsBNx1J4WNp30ibX8WeH1FGP5LAGMF5JuDBL3uNZwI6PQeoW63tce0bAiENXhkI9lTdj+tyJquA2d0OdNB4tpPBFAkAqk1CK6JeDYjTPjfQKtx8N49RFzoqrtgtHiywkf+MLp+yYV/HwUbCH5RsRhh3PUYLRFuupslXs46FC92FGegx87IkOiQDElI/vwAZDe2RHLQ8fG6E1ycYj9XCoMqQo6ugkq6a6+3/kyubYYuQdxBJ/0Po/hxRJPrvnfe2UanMgABDzWpkQPHv8v6PBQkoMsGZPaETqBQWBeetJteTmBbI71kaVX7c7YVqPK6kf0GorDrvV5OSNjCGXNM=
        on:
          tags: true
          repo: trident-project/trident
